<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                             <div class='add-pet-container'>
    <h2>
      Pet Submission form
    </h2>
    <form class='new-pet-form'>
      <label for='name'>
        Pet 🐾Name:
      </label>
      <br />
      <textarea id='pet_name' name='pet_name' rows='2' cols='30'>
        {{name}}
      </textarea>
      <br />
      <label for='location'>
        Pet location:
      </label>
      <br />
      <textarea id='pet_location' name='pet_location' rows='5' cols='30'>
        {{location}}
      </textarea>
      <br />
      <label for='description'>
        Pet description:
      </label>
      <br />
      <textarea id='pet_description' name='pet_description' rows='2' cols='30'>
        {{description}}
      </textarea>
      <br />
      <label for='size'>
        Pet size:
      </label>
      <br />
      <textarea id='pet_size' name='pet_size' rows='5' cols='30'>
        {{size}}
      </textarea>
      <br />
      <label for='age'>
        Pet's age:
      </label>
      <br />
      <textarea id='pet_age' name='pet_age' rows='2' cols='30'>
        {{age}}
      </textarea>
      <br />
      <label for='breed'>
        Pet's breed:
      </label>
      <br />
      <textarea id='pet_breed' name='pet_breed' rows='5' cols='30'>
        {{breed}}
      </textarea>
      <br />
     
      <button type='submit' value='submit'>
        Submit
      </button>
    </form>
  </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="./Images/adoptme.webp" class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src='/js/form.js'> </script>