<div>
<div class="card" style="width: 50rem;margin:auto;">
  <img src="https://freight.qantas.com/images/pets/GettyImages-764782285.jpg" id="img">
  <div class="card-body">
    <h5 class="card-title">
        <ul>{{pet.name}}</ul></h5>
    <p class="card-text">

  
    <li> size: {{pet.size}}</li>
    <li> age: {{pet.age}}</li>
    <li> breed: {{pet.breed}}</li>
    <li> locatio: {{pet.location}}</li>
      <p>
        description: 
        <ul>{{pet.description}}</ul>
    </p>
   </div>
</div>
</div> 


