
<div>
    <h1> {{pet.name}}</h1>
    <p>
        {{pet.description}}
    </p>
    <ul> {{pet.size}}</ul>
    <ul> {{pet.age}}</ul>
    <ul> {{pet.breed}}</ul>
    <ul> {{pet.location}}</ul>
</div>


